.footer__column-link {
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    /* border: 1px solid red; */
    text-decoration: none;
    transition: opacity .2s linear;
  }
  
  .footer__column-link:hover {
    opacity: .5;
  }
  