.footer__author {
    display: flex;
    align-items: end;
    color: #fff;
    margin: 18px 0 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    /* border: 1px solid red; */
  }