.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding-left: 64px;
  /* выше установили ограничения для секции */
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.logo {
z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}


.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  width: 175px;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  background-color: #fff
}

.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 100px auto 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  border: 1px solid red;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 20px auto 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  border: 1px solid red;

}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 60px auto 100px;
  align-content: space-between;
  border: 1px solid red;
}

.table__cell {
  border: 1px solid red;
  width: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 20px;
  border: 1px solid red;

}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-bottom: 20px;
  border: 1px solid red;

}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
